html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.container-smal {
  max-width: 90rem;
  margin: 0 auto;
}
.general-icon {
  width: 20px;
  height: 20px;
  /* padding-top: 0.5rem; */
  align-items: center;
}
